body {
  background: url(../images/home_bg-1.png) top left no-repeat;;
  background-attachment: fixed;
  background-size: contain;
  font-family: sans-serif;
}

.wrapper {
	max-width: 960px;
	margin: auto;
}

ul.header-list  {
  float: right;
  word-spacing: 25px;
  margin-top: 40px;
  font-size: 16px;
}

.header-list a {
  color: gray;
  text-decoration: none;
}

.header-list a:hover {
  color: white;
}

.header-list li {
  display: inline;
}

#main-content {
  color: white;
  text-align: center;
  padding-top: 250px;
  font-size: 22px;
  font-weight: 400px;
}

.main-content_profession {
  color: gray;
  font-size: 43px;
  margin: -15px;
}

/* раздел "Навыки" */

#skill {
  margin-top: 180px;
  margin-left: -8px;
  margin-right: -8px;
  height: auto;
  background-color: white;
}

.skill_title {
  padding-top: 120px;
  font-size: 45px;
  font-weight: 400;
}

.skill_text{
  height: 430px;
  line-height: 28px;
  font-size: 19px;
}

.skill_image {
  float: right;
  padding-top: 140px;
}


/* Раздел "Портфолио" */

#portolio {
  height: 690px;
  background-color: #1b1e25;
  margin: -28px;
  margin-left: -8px;
  margin-right: -8px;
}

.portolio_text {
  color: white;
  text-align: center;
  padding-top: 215px;
  font-size: 34px;
}
