body {
  background: url(../images/header.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}

#wrapper {
	max-width: 960px;
	margin: auto;
}

ul.header-list  {
  float: right;
  word-spacing: 25px;
  margin-top: 40px;
  font-size: 15px;
}

.header-list a {
  color: gray;
  text-decoration: none;
}

.header-list a:hover {
  color: white;
}

.header-list li {
  display: inline;
}

#main-content {
  color: white;
  text-align: center;
  padding-top: 250px;
  font-size: 20px;
  font-weight: 400px;
}

.main-content_profession {
  color: gray;
  font-size: 45px;
  margin: -15px;
}
