body {
  background: url(../images/home_bg-1.png) top left no-repeat;;
  background-attachment: fixed;
  background-size: contain;
  font-family: Roboto;
  height: 1280px;
}

.wrapper {
	max-width: 960px;
	margin: auto;
}

ul.header-list  {
  float: right;
  word-spacing: 25px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 23px;
}

.header-list a {
  color: gray;
  text-decoration: none;
}

.header-list a:hover {
  color: white;
}

.header-list li {
  display: inline;
}

#main-content {
  color: white;
  text-align: center;
  padding-top: 200px;
  font-size: 22px;
  font-weight: 700;
}

.main-content_profession {
  color: #7d7e82;
  font-size: 43px;
  margin: -15px;
}

/* раздел "Навыки" */

#skill {
  margin-top: 200px;
  margin-left: -8px;
  margin-right: -8px;
  height: auto;
  background-color: white;
  color: #1c1e26;
  font-family: Roboto;
}

.skill_title {
  padding-top: 120px;
  font-size: 45px;
  font-weight: 400;
  font-size: 38px;
  line-height: 23px;
}

.skill_text{
  height: 430px;
  line-height: 30px;
  font-size: 18px;
}

.skill_image {
  float: right;
  padding-top: 140px;
}


/* Раздел "Портфолио" */

#portolio {
  height: 690px;
  background-color: #1b1e25;
  margin: -30px;
  margin-left: -8px;
  margin-right: -8px;
}

.portolio_text {
  color: white;
  text-align: center;
  padding-top: 160px;
  font-size: 36px;
}

.portfolio_button {
  width: 340px;
  height: 61px;
  margin-left: 310px;
  margin-top: 120px;
  font-weight: 700;
  font-size: 24px;
  color: white;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  border: 1px solid white;
  background: #1b1e25;
  transition: 0.2s;
}

.portfolio_button a {
  text-decoration: none;
}

.portfolio_button a:hover {
  text-decoration: none;
}

/* Раздел "Footer" */

#footer {
  height: 100px;
  background-color: white;
  margin-left: -8px;
  margin-right: -8px;
}

.pochta_logo {
  margin-top: 50px;
  margin-left: 350px;
}

.facebook_logo {
  margin-top: 5px;
}

.facebook_logo {
  margin-left: 210px;
}
